<aside id="asideMenu" data-transition="left">
    <header data-title="Menu">
        <nav class="on-right">
            <a href="#" class="buttons" data-icon="settings"></a>
        </nav>
    </header>

    <article class="list scroll active">
        <ul>
            <!-- List -->
            <li data-view-section="listExample" data-async="views/list.html" data-icon="list">
                <div class="tag on-right">22</div>
                <strong>Lists</strong>
            </li>

            <!-- Forms -->
            <li data-view-section="form" data-icon="check">
                <div class="tag on-right">8</div>
                <strong>Form Elements</strong>
            </li>
        </ul>
    </article>
</aside>
