<section id="listExample" data-transition="slide" data-aside="asideMenu" class="drag">
    <header data-title="List" data-back="home"></header>

    <article class="list indenteds scroll">
            <ul>
                <li class="text small">
                    Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus.
                </li>
                <li>
                    <strong class="text bold">Headline</strong>
                    <span class="text tiny">
                        Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
                    </span>
                </li>
			</ul>
    </article>

    <footer>
        <nav>
            <a href="#" data-view-article="layout-art1" data-icon="user" class="active"></a>
            <a href="#" data-view-article="layout-art2" data-icon="inbox" data-count="80"></a>
            <a href="#" data-view-article="layout-art3" data-icon="comments"></a>
            <a href="#" data-view-article="layout-art4" data-icon="cog"></a>
        </nav>
    </footer>

</section>
